{% extends "layout.html" %}
  <head>
    {% block title %} Add book {% endblock %}
    {% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock %}
  </head>
  <body>
        {% block content %}
      <div class="container">
      <h1>Enter a book</h1>
      <br>
      <form method=post enctype=multipart/form-data>
          <input type=file name=file>
          <input type=submit value=Upload>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
      {% endblock %}
  </body>
